<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Where Can I Stream</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li th:if="${user} and ${user.loginID} != null"><a href="/profile">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${user} == null or ${user.loginID} == null"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li th:if="${user} and ${user.loginID} != null">
                        <span style="color:forestgreen">Logged in as: </span>
                        <a href="/profile" style="display:inline-block; font-weight:600;">
                            <span th:text="${user.loginID}"></span>
                        </a>
                        <a onclick="document.getElementById('logoutForm').submit();" style="display:inline-block">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                        <form th:action="@{/logout}" method="post" id="logoutForm">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <form action="" th:action="@{/profileUpdate}" th:object="${user}" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="loginID"> User Name : </label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="*{loginID}"></p>
                            <input type="text" name="loginID" id="loginID" th:value="${user.loginID}" hidden="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password"> Password: </label>
                        <div class="col-sm-10">
                            <input type="password" name="password" id="password" th:value="*{password}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="country"> Country: </label>
                        <div class="col-sm-10">
                            <input type="text" name="country" id="country" th:value="*{country}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="providers">Providers: </label>
                        <div class="col-sm-10">
                            <input type="text" name="providers" id="providers" th:value="*{providers}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="altproviders">Alternate providers: </label>
                        <div class="col-sm-10">
                            <input type="text" name="altproviders" id="altproviders" th:value="*{altproviders}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>
</body>
</html>